@(myForm: Form[String])

@import helper._
@import helper.twitterBootstrap._

@main("API-Chainer") {
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	          	</a>
	          	<a class="brand" href="#">Restart</a>
			</div>
		</div>
	</div>
	<div class="container">
    	<div class="hero-unit">
	    	<h1>API Chainer</h1>
	    	<p>Chain APIs together and thunderbolt the clouds!</p>
	    	@helper.form(action=routes.Chainer.search, 'id -> "searchContainer"){
	    		@inputText(
	    			myForm("query"),
	    			'_label -> "Data Type",
	    			'_help -> "Please choose a data type."
	    		)
		    }
		    <p><div id="output"></div></p>
    	</div>
    </div>
}